$primary: green;

@import "node_modules/bootstrap/scss/bootstrap";


.cursor-pointer {
  cursor: pointer;
}

.hover-bg-darken:hover {
  background-color: lightgray;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.grid-metadata {
  display: grid;
  grid-template-columns: 1fr 1fr 38px;

  > div {
    display: flex;
    align-items: center;
  }
}

.grid-settings-global {
  grid-template-columns: auto auto 1fr;

  @include media-breakpoint-down(lg) {
    grid-template-columns: auto;

    button, input {
      width: 100% !important;
    }
  }
}