$primary: green;

@import "node_modules/bootstrap/scss/bootstrap";


.cursor-pointer {
  cursor: pointer;
}

.hover-bg-darken:hover {
  background-color: lightgray;
}

.whitespace-pre {
  white-space: pre;
}